
<form
  class="data-control__form data-control-form"
  [formGroup]="dataControlForm"
  (ngSubmit)="loadData()"
>
  <tui-input-date-range
    tuiUnfinishedValidator="Finish filling the field"
    formControlName="timePeriod"
    [min]="TIME_BORDERS.min"
    [max]="TIME_BORDERS.max"
  >
    Choose dates

    <input
      tuiTextfield
      placeholder="From - To" />
  </tui-input-date-range>
  <button
    tuiButton
    type="submit"
    [disabled]="dataControlForm.invalid"
  >
    Load data
  </button>
</form>
