:host(.widgets-bar) {
  background: var(--widget-bar-bg);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.widgets {
  &-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
  }
}
